.product_wrapper {
	float:left;
	padding: 10px;
	text-align: center;
	}
.product_wrapper:hover {
	box-shadow: 0 0 0 2px #e5e5e5;
	cursor:pointer;
	}
.product_wrapper .name {
	font-weight:bold;
	}
.product_wrapper .buy {
	text-transform: uppercase;
    background: #F68B1E;
    border: 1px solid #F68B1E;
    cursor: pointer;
    color: #fff;
    padding: 8px 40px;
    margin-top: 10px;
}
.product_wrapper .buy:hover {
	background: #f17e0a;
    border-color: #f17e0a;
}
.message_box .box{
	margin: 10px 0px;
    border: 1px solid #2b772e;
    text-align: center;
    font-weight: bold;
    color: #2b772e;
	}
.table td {
	border-bottom: #F0F0F0 1px solid;
	padding: 10px;
	}
.cart_div {
	float:right;
	font-weight:bold;
	position:relative;
	}
.cart_div a {
	color:#000;
	}	
.cart_div span {
	font-size: 12px;
    line-height: 14px;
    background: #F68B1E;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 13px;
    color: #fff;
    width: 14px;
    height: 13px;
    text-align: center;
	}
.cart .remove {
    background: none;
    border: none;
    color: #0067ab;
    cursor: pointer;
    padding: 0px;
	}
.cart .remove:hover {
	text-decoration:underline;
	}


.only{
  color: white;
  background-color: #121212;
    border-radius: 15px;
    width: 410px;
    height: 420px;
}
.only1{
  color: white;
  background-color: #121212;
    border-radius: 15px;
    width: 410px;
    height: 550px;
}
#email{
align-content: left;
padding-right: 200px;
}
#password{
  align-content: left;
  padding-right: 170px;
}
label{
    padding-right: 160px;
}
#mob{
  padding-right: 130px;
}
#email1{
  padding-right: 180px;
}
#pas{
  padding-right: 170px;
}
#button1{
  height:32px;
  width: 250px;
  border-radius:7px;
  border: 2.5px solid ;
  border-color: #919191;
}
#button2{
  height:32px;
  width: 250px;
  border-radius:7px;
  border: 2.5px solid ;
  border-color: #919191;
}

#submit{
  background-color: #47cf73;
  height:35px;
  width:80px;
  font-size: 16px;
  border-radius: 14px;
  color:white;
  border-color:#47cf73;
  cursor: pointer;
  text-align: center;
}
#submit1{
  background-color:#47cf73;
  height:35px;
  width:80px;
  font-size: 16px;
  border-radius: 14px;
  color:black;
  border-color: #47cf73;
}
#p{
  text-decoration: underline;
  color: #63d3ff;
}
.ek{
  background-color:#000000;
  color: white;
  font-family: 'Rubik', sans-serif;
}

#we{
  padding-left: 52px;
}
#search{
  width: 900px;
}
#back{
  background-color:#47cf73;
  height:35px;
  width:80px;
  font-size: 16px;
  border-radius: 14px;
  color:black;
  border-color: #47cf73;
}




